In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

### 29-NOV-2019

In [4]:
df.head(20)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3

In [5]:
df[['total_bill','tip','size']].head(10)

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4
5       25.29  4.71     4
6        8.77  2.00     2
7       26.88  3.12     4
8       15.04  1.96     2
9       14.78  3.23     2

In [6]:
df['tip'].mean()

2.9982786885245902

In [8]:
(df['tip'].sum() / df['total_bill'].sum()) * 100

15.153580224410025

In [9]:
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [10]:
df[ (df.time == 'Dinner') & (df.tip > 2)]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
9         14.78  3.23    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
31        18.35  2.50    Male     No   Sat  Dinner     4
32        15.06  3.00  Female     No   Sat  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
34        17.78  3.27    Male     No   Sat  Dinner     2
35        24.06  3.60    Male     No   Sat  Dinner     3
37        16.93  3.07  Female     No   Sat  Dinner     3
38        18.69  2.31    Male     No   Sat  Dinner     3
39        31.27  5.00    Male     No   Sat  Dinner     3
40        16.04  2.24    Male     No   Sat  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
178        9.60  4.00  Female    Yes   Sun  Dinner     2
179       34.63  3.55    Male    Yes   Sun  Dinner     2
180       34.65  3.68    Male    Yes   Sun  Dinner     4
181       23.33  5.65    Male    Yes   Sun  Dinner     2
182       45.35  3.50    Male    Yes   Sun  Dinner     3
183       23.17  6.50    Male    Yes   Sun  Dinner     4
184       40.55  3.00    Male    Yes   Sun  Dinner     2
185       20.69  5.00    Male     No   Sun  Dinner     5
186       20.90  3.50  Female    Yes   Sun  Dinner     3
188       18.15  3.50  Female    Yes   Sun  Dinner     3
189       23.10  4.00    Male    Yes   Sun  Dinner     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
216       28.15  3.00    Male    Yes   Sat  Dinner     5
219       30.14  3.09  Female    Yes   Sat  Dinner     4
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[127 rows x 7 columns]

In [11]:
df[['total_bill','tip','day','time']].sample(15)

     total_bill    tip   day    time
97        12.03   1.50   Fri  Dinner
114       25.71   4.00   Sun  Dinner
44        30.40   5.60   Sun  Dinner
198       13.00   2.00  Thur   Lunch
131       20.27   2.83  Thur   Lunch
128       11.38   2.00  Thur   Lunch
111        7.25   1.00   Sat  Dinner
4         24.59   3.61   Sun  Dinner
67         3.07   1.00   Sat  Dinner
104       20.92   4.08   Sat  Dinner
75        10.51   1.25   Sat  Dinner
135        8.51   1.25  Thur   Lunch
160       21.50   3.50   Sun  Dinner
25        17.81   2.34   Sat  Dinner
170       50.81  10.00   Sat  Dinner